<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/Index.css">
    <title>Tela inicial</title>
</head>
<body>

<container id = "container-principal">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">Coopase</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Ação</a>
                        <a class="dropdown-item" href="#">Outra ação</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Algo mais aqui</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Desativado</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="titulo-escolha justify-content-center mt-4">
        <p class="titulo-escolha justify-content-center">Selecione algo</p>
    </div>
    <div class="blocos-container">
        <!-- Bloco 1 -->
        <a href="/Coopase/Cliente/Servicos" class="bloco-link">
            <div class="bloco">
                <h3>Área Cliente</h3>
                <p>Área de serviços do cliente</p>
            </div>
        </a>

        <!-- Bloco 2 -->
        <a href="/Coopase/ContaDeposito/Servicos" class="bloco-link">
            <div class="bloco">
                <h3>Cofre Área</h3>
                <p>Área de serviços de contas de depósito</p>
            </div>
        </a>

        <!-- Bloco 3 -->
        <a href="/Coopase/Transacao/Servicos" class="bloco-link">
            <div class="bloco">
                <h3>Área Transação</h3>
                <p>Transações das contas déposito</p>
            </div>
        </a>

        <!-- Bloco 4 -->
        <a href="#" class="bloco-link">
            <div class="bloco">
                <h3>Título 4</h3>
                <p>Descrição breve</p>
            </div>
        </a>
    </div>


    <hr>

    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>
    <p>Loren ipsum</p>

</container>

<script src="Index.js" defer></script> <!-- defer = executa após o HTML -->

</body>
</html>
