<div th:fragment="Cadastrar" data-view="cadastrar-ContaDeposito">
  <h2 class="d-flex justify-content-center">Cadastrar Conta Depósito</h2>

  <div class="container">
    <div class="cadastro-container"> <!-- Container específico para cadastro -->
      <form id="ContaDepositoForm" action="/Coopase/ContaDeposito/Cadastrar" method="post">
        <div class="form-rows">
          <!-- Coluna principal -->
          <div class="form-main-column">
            <div class="form-group">
              <label for="ContaDepositoNome">Nome</label>
              <input type="text" class="form-control" name="ContaDepositoNome" id="ContaDepositoNome" placeholder="Nome da conta" required>
            </div>
            <div class="form-group">
              <label for="TipoDeConta" id="TipoDeContaLabel">Tipo De Conta</label>
              <select class="form-control" name="TipoDeConta" id="TipoDeConta" required>
                <option value="" selected>Selecione Tipo De Conta</option>
                <option>fisica</option>
                <option>virtual</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Cadastre</button>
        </div>
      </form>
    </div>
  </div>
</div>