<div th:fragment="Cadastrar" data-view="cadastrar-Despesa">
  <h2 class="d-flex justify-content-center">Cadastrar Despesa</h2>

  <div class="container">
    <div class="transaction-options">
      <button class="transaction-option active" data-type="DEPOSIT">
        DEPOSIT
        <div class="underline-animation"></div>
      </button>
      <button class="transaction-option" data-type="WITHDRAW">
        WITHDRAW
        <div class="underline-animation"></div>
      </button>
      <button class="transaction-option" data-type="TRANSFER">
        TRANSFER
        <div class="underline-animation"></div>
      </button>
    </div>

    <div class="transaction-content">
      <div class="form-container">
        <form id="TransacaoForm" action="/Coopase/Transacao/Cadastrar" method="post">
          <div class="form-row">
            <div class="form-group">
              <label for="tipoTransacao">Tipo de Transação</label>
              <input type="text" class="form-control" name="tipoTransacao" id="tipoTransacao" required readonly>
            </div>
            <div class="form-group NomeOperador-field" id="NomeOperador-field">
              <label for="operadorTransacaoId">Operador</label>
              <select class="form-control" name="operadorTransacaoId" id="operadorTransacaoId">
                <option value="">Selecione operador</option>
                <option th:each="operador : ${Operadores}"
                        th:value="${operador.id}"
                        th:text="${operador.name}">Vendedor</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="valorTransacao">Valor</label>
              <input type="number" class="form-control" name="valorTransacao" id="valorTransacao" step="1" value="0,00" required>
            </div>

            <div class="form-group ContaPrincipal-field" id="ContaPrincipal-field">
              <label for="contaPrincipalId" id="ContaPrincipalLabel">Conta Principal</label>
              <select class="form-control" name="contaPrincipalId" id="contaPrincipalId" required>
                <option value="" selected>Selecione a conta Principal</option>
                <option th:each="conta : ${contasDeposito}"
                        th:value="${conta.id}"
                        th:text="${conta.vaultName}">Conta</option>
              </select>
            </div>
          </div>

          <div class="form-group transferencia-field" id="transferencia-field" style="display: none;">
              <label for="contaDestinoId">Conta de Destino</label>
              <select class="form-control" name="contaDestinoId" id="contaDestinoId">
                <option value="" selected>Selecione uma conta</option>
                <option th:each="conta : ${contasDeposito}"
                        th:value="${conta.id}"
                        th:text="${conta.vaultName}">Conta</option>
              </select>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="Descricao">Descrição</label>
              <input type="text" class="form-control" name="Descricao" id="Descricao">
            </div>

            <div class="form-group" id="forma-field">
              <label for="formaDinheiroTransacao">Forma Transação</label>
              <select class="form-control" name="formaDinheiroTransacao" id="formaDinheiroTransacao">
                <option value="">Selecione uma forma</option>
                <option value="DINHEIRO">Dinheiro</option>
                <option value="PIX">Pix</option>
                <option value="CHEQUE">Cheque</option>
              </select>
            </div>

          </div>

          <button type="submit" class="btn-submit">Cadastrar Transação</button>
        </form>
      </div>

      <div class="transaction-table">
        <h3>Preview da Transação</h3>
        <table>
          <thead>
          <tr>
            <th>Conta</th>
            <th>Agora</th>
            <th>Depois</th>
          </tr>
          </thead>
          <tbody id="preview-principal">
          <tr>
            <td colspan="3" style="text-align: center; color: #6c757d;">
              Selecione a conta principal
            </td>
          </tr>
          </tbody>
          <tbody id="preview-destino" style="display:none;">
          <tr>
            <td colspan="3" style="text-align: center; color: #6c757d;">
              Selecione a conta destino
            </td>
          </tr>
          </tbody>
        </table>

        <div class="operator-info">
          <strong>Operador:</strong> <span id="NomeOperadorSpan">[Não informado]</span>
        </div>
      </div>


    </div>
  </div>
</div>