<div th:fragment="Cadastrar" data-view="cadastrar-cliente">
  <h2 class="d-flex justify-content-center">Cadastrar Cliente</h2>

  <div class="container">
    <div class="cadastro-container"> <!-- Container específico para cadastro -->
      <form id="clienteForm" action="/Coopase/Cliente/Cadastrar" method="post">
        <div class="form-rows">
          <!-- Coluna principal -->
          <div class="form-main-column">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="ClientName">Nome</label>
                  <input type="text" class="form-control" name="ClientName" id="ClientName" placeholder="Nome do cliente" required>
                </div>

                <div class="form-group">
                  <label for="ClientDocument">Documento (CPF/CNPJ)</label>
                  <input type="text" class="form-control" name="ClientDocument" id="ClientDocument" placeholder="CPF ou CNPJ">
                </div>

                <div class="form-group">
                  <label for="ClientBirth">Data de nascimento</label>
                  <input type="date" class="form-control" name="ClientBirth" id="ClientBirth">
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label for="cooperadoSelect">Cooperado</label>
                  <select name="cooperadoSelect" id="cooperadoSelect" class="form-control">
                    <option value="false" selected>Não</option>
                    <option value="true">Sim</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="operatorSelect">Operador</label>
                  <select name="operatorSelect" id="operatorSelect" class="form-control">
                    <option value="false" selected>Não</option>
                    <option value="true">Sim</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="sellerSelect">Vendedor</label>
                  <select name="sellerSelect" id="sellerSelect" class="form-control">
                    <option value="false" selected>Não</option>
                    <option value="true">Sim</option>
                  </select>
                </div>
              </div>
            </div>

          </div>

          <!-- Coluna do cooperado (inicialmente oculta) -->
          <div id="camposCooperado" class="form-cooperado-column hidden-cooperado">
            <div class="cooperado-header">
              <h5>Infos adicionais de cooperado</h5>
            </div>
            <div class="form-group">
              <label for="ClientCafDate">Data de venc. CAF</label>
              <input type="date" class="form-control" name="ClientCafDate" id="ClientCafDate">
            </div>
            <div class="form-group">
              <label for="ClientCafCode">Código da CAF</label>
              <input type="text" class="form-control" name="ClientCafCode" id="ClientCafCode" placeholder="Código CAF">
            </div>
          </div>

        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Cadastre</button>
        </div>
      </form>
    </div>
  </div>
</div>