<!-- Fragmento 2 -->
<div th:fragment="Cadastrar">
  <h2>Cadastro de Cliente</h2>
  <form th:action="@{/Coopase/Cliente/Servicos/Cadastrar}" method="post">
    <!-- Campos do formulário -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="col-md-4 mb-3">
          <label for="NameValidation">Nome</label>
          <input type="text" class="form-control is-invalid" id="NameValidation" placeholder="Nome do cliente" value="Mark" required>
          <div class="valid-feedback">
            Nome inválido!
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <label for="DocValidation">Documento (CPF/CNPJ)</label>
          <input type="text" class="form-control is-invalid" id="DocValidation" placeholder="Nome do cliente" value="Mark" required>
          <div class="valid-feedback">
            Documento inválido!
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputAddress">Cooperado</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>

    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>

      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>


    <button type="submit" class="btn btn-primary">Cadastre</button>
  </form>
</div>



