<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link rel="stylesheet" href="/Index.css">
  <link rel="stylesheet" href="/Cliente/Cliente.css">
  <title>Área do Cliente</title>
</head>
<body>

<container id = "container-principal">
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-2" href="/Coopase/TelaInicial">Coopase</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ação</a>
            <a class="dropdown-item" href="#">Outra ação</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Algo mais aqui</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" style="border-left: 3px solid #28a745; padding-left: 3px;">
            Área do cliente
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="titulo-escolha justify-content-center mt-4">
    <p class="justify-content-center">Opções de serviços</p>
  </div>

  <div class="blocos-container">
    <!-- Bloco Cadastro -->
    <a href="" data-action="Cadastrar" class="bloco-link">
      <div class="bloco">
        <h3>Cadastrar</h3>
        <p>Cadastrar cliente</p>
      </div>
    </a>

    <!-- Bloco Edição -->
    <a href="" data-action="Editar" class="bloco-link">
      <div class="bloco">
        <h3>Editar</h3>
        <p>Editar cliente</p>
      </div>
    </a>

    <!-- Bloco Consulta -->
    <a href="" data-action="Consultar" class="bloco-link">
      <div class="bloco">
        <h3>Consultar</h3>
        <p>Consultar cliente</p>
      </div>
    </a>

    <!-- Bloco Deleção -->
    <a href="" data-action="Deletar" class="bloco-link">
      <div class="bloco">
        <h3>Deletar</h3>
        <p>Deletar cliente</p>
      </div>
    </a>
  </div>

  <!-- Linha divisória -->
  <div class="divisoria-vertical" id="clear-view-trigger"></div>

  <!-- Container da View (Onde o conteúdo será carregado) -->
  <div id="dynamic-content" class="d-flex justify-content-center mt-3">
    <!-- Conteúdo da view será carregado via JavaScript -->
  </div>

  <hr>

  <h2>Acesso Rápido</h2>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="container">
        <div class="row">
          <div class="col-4">

          </div>
          <div class="col-4">
            <h2>Lista de cooperados</h2>
          </div>
          <div class="col-4">
            <!-- Rounded switch -->
            <form action="/Coopase/Cliente/Servicos">
              <p class="d-flex justify-content-center">Mostrar tudo</p>
              <label class="switch d-flex justify-content-center">
                <input type="checkbox" id="toggleCooperados" name="toggleCooperados" class="d-flex justify-content-center">
                <span class="slider round d-flex justify-content-center"></span>
              </label>
            </form>
          </div>
        </div>

        <table class="main-table" id="listaDeCooperados">
          <thead>
          <tr>
            <th>N°</th>
            <th>Nome</th>
            <th>Data Venc. CAF</th>
            <th>Código CAF</th>
          </tr>
          </thead>
          <tbody>
          <tr class="main-row" th:each="listaCoop : ${listaCooperados}" data-id="listaCoop.id">
            <td th:text="${listaCoop.id}"></td>
            <td th:text="${listaCoop.name}"></td>
            <td th:text="${listaCoop.maturity_caf != null} ? ${#temporals.format(listaCoop.maturity_caf, 'dd/MM/yyyy')} : ''"></td>
            <td th:text="${listaCoop.caf}"></td>
          </tr>
          </tbody>
          <thead>
            <th colspan="2" class="justify-content-center">Qtde de Cooperados</th>
            <th colspan="2" class="justify-content-center">Qtde de Dap Ativa</th>
          </thead>
          <tbody>
          <tr class="main-row">
            <td colspan="2" th:text="${qtdeDeCooperados} ?: '0 find'"></td>
            <td colspan="2" th:text="${qtdeDeDapsAtivas} ?: '0 find'"></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="col-6">
      <div class="container">
        <h2>Lista de vendedores</h2>

        <table class="main-table" id="listaDeVendedores">
          <thead>
          <tr>
            <th>N°</th>
            <th>Nome</th>
            <th>Documento</th>
            <th>Cooperado</th>
          </tr>
          </thead>
          <tbody>
          <tr class="main-row" th:each="listaVend : ${listaVendedores}" data-id="listaVend.id">
            <td th:text="${listaVend.id}"></td>
            <td th:text="${listaVend.name}"></td>
            <td th:with="doc=${listaVend.document != null ? listaVend.document : ''}">
                        <span th:if="${#strings.length(doc) == 11}"
                              th:text="${#strings.substring(doc,0,3) + '.' +
                            #strings.substring(doc,3,6) + '.' +
                            #strings.substring(doc,6,9) + '-' +
                            #strings.substring(doc,9,11)}"></span>
              <span th:if="${#strings.length(doc) == 14}"
                    th:text="${#strings.substring(doc,0,2) + '.' +
                            #strings.substring(doc,2,5) + '.' +
                            #strings.substring(doc,5,8) + '/' +
                            #strings.substring(doc,8,12) + '-' +
                            #strings.substring(doc,12,14)}"></span>
              <span th:if="${!#strings.isEmpty(doc) && #strings.length(doc) != 11 && #strings.length(doc) != 14}"
                    th:text="${doc}"></span>
            </td>
            <td th:text="${listaVend.cooperated}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</container>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" defer></script>

<script src="/Index.js" defer></script> <!-- defer = executa após o HTML -->
<script src="/Cliente/Cliente.js" defer></script>
<script src="/Cliente/FiltrosDePesquisa.js" defer></script>
<script src="/Cliente/RequisicoesAjax/Consultas.js" defer></script>
<script src="/Cliente/RequisicoesAjax/RequisicoesAjax.js" defer></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
<script src="sweetalert2.all.min.js" defer></script>

</body>
</html>
