.cadastro-container {
    max-width: 1200px; /* Largura máxima do container */
    margin: 0 auto;
}

.form-rows {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

/* Melhor espaçamento entre os campos */
.form-main-column .form-group {
    margin-bottom: 20px;
}

/* Ajuste fino para labels */
.form-main-column .form-group label {
    font-size: 15px;
    margin-bottom: 8px;
}

.form-control {
    width: 100%;
    min-width: 250px; /* Largura mínima */
}

.form-actions {
  text-align: center;
  padding-top: 20px;
  clear: both;
}

/* Responsividade */
@media (max-width: 992px) {
    .form-rows {
        flex-direction: column;
    }

    .form-main-column,
    .form-cooperado-column {
        width: 100%;
        max-width: 100%;
    }

    .form-main-column .form-control {
        max-width: 100%;
    }
}

/* -------------- TABELA -------------- */
.tabela-de-cadastros {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabela-de-cadastros th {
    justify-content: center;
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 12px 16px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.tabela-de-cadastros td {
    justify-content: center;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;

}

.tdc-body {
    border-left: 4px solid #B0ADA7;
    border-right: 4px solid transparent;
    transition:
        border-left-color 0.25s ease,
        border-right-color 0.25s ease,
        transform 0.25s ease;
}

.tdc-body:hover {
    border-left-color: #6BAF6B;
    border-right-color: #6BAF6B;
    transform: scale(1.02);
}